.App {
  font-family: sans-serif;
  text-align: center;
}
* {
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 10px;
}
.container2 {
  display: flex;
  gap: 15px;
  justify-content: center;
}
button {
  padding: 4px 20px;
  border-radius: 10px;
}
#search {
  padding: 5px 5px;
}
